# * = gitignore file for the Res directory
# !*/ = don't ignore subdirectories
# !.gitignore = don't ignore this gitignore file

venv/
__pycache__/
*.pyc
data/
.vscode/
configs/calib_images_picam/
configs/calib_images_usbcam/
ros2/build/
ros2/install
ros2/log